<launch>

	<include file="$(find csuro_robots)/launch/sim.launch"/><!-- esto es para archivos launch-->
	<node pkg="csuro_tools" type="nodo_hsv_sim" name="node_hsv"/>
	<node pkg="rviz" type="rviz" name="turviz"/>
	<node pkg="csuro_sensors" type="nodo_rgbd_tf" name="nodo_rgbd_tf"/>
	<node pkg="csuro_sensors" type="nodo_rgbd_filter_sim" name="nodo_rgbd_filter_sim"/>
	
</launch>